body {
  padding: 20px;
}

.header-wrapper {
  border-bottom: 1px solid black;
  padding: 20px;
  margin-bottom: 5vh;
}

.cards-wrapper {
  display: grid;
  grid-template: repeat(auto-fit, minmax(250px, 1fr)) / repeat(
      auto-fill,
      minmax(250px, 1fr)
    );
  gap: 20px;
}

.book-card {
  border: 1px solid black;
  padding: 20px;
  width: 250px;
  border-radius: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
